{% extends "base.html" %}

{% block content %}
<main role="main">
    <div class="center top">
        <img src="{{ url_for('static', path='/images/pokemon.svg') }}">
    </div>
    <div class="container center background main">
        <div id="instructions"><p>Choose a Pokemon image then click Upload, and the app will tell you what kind of Pokemon it is!</p></div>
        <div class='preview'>
        </div>
        <div id="result" class="hide"></div>
        <form method="post" action="" enctype="multipart/form-data" id="myform">
            <div>
                <input type="file" id="file" name="file"/>
                <input type="button" class="button" value="Upload" id="but_upload">
            </div>
        </form>

    </div>

</main>
{% endblock %}
